<!--<footer th:fragment="footer" class="bg-dark text-white text-center py-3 mt-5">
    <p>&copy; 2025 TitanBarber. Todos los derechos reservados.</p>
</footer>-->

<footer th:fragment="footer" class="bg-dark text-white text-center py-4">
    <div class="container">
        <p class="mb-1">&copy; 2025 TitanBarber. Todos los derechos reservados.</p>
        <div>
            <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-white mx-2"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-white mx-2"><i class="bi bi-twitter-x"></i></a>
        </div>
    </div>
</footer>

