<footer th:fragment="footer" class="bg-dark text-white text-center py-4">
    <div class="container">
        <p class="mb-1">&copy; 2025 <span th:text="#{titulo.logo}">TitanBarber</span>. <span th:text="#{plantilla.derechos}">Todos los derechos reservados.</span></p>
        <div>
            <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-white mx-2"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-white mx-2"><i class="bi bi-twitter-x"></i></a>
        </div>
    </div>
</footer>
