<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
                <img src="/img/logo.png" alt="Logo" style="height: 40px;" class="me-2">
                <span th:text="#{titulo.logo}">TitanBarber</span>
            </a>

            <button class="navbar-toggler" type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/registro}" th:text="#{menu.registro}">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" th:text="#{menu.login}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/agenda}" th:text="#{menu.agendar}">Agendar Cita</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/barbero/lista}" th:text="#{menu.barberos}">Barberos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/servicio/servicios}" th:text="#{menu.servicios}">Servicios</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a class="nav-link" th:href="@{/usuarios/lista}" th:text="#{menu.usuarios}">Gestión de Usuarios</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/perfil}" th:text="#{menu.perfil}">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/agenda/mis-citas}" th:text="#{menu.misCitas}">Mis Citas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index(lang='es')}">ES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index(lang='en')}">EN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
